html{
    background-color: #FFFFFF;
    color: tomato;
}
.logo{
    font-size: 3rem;
    color: green;
}
table {
    width: 100%;
    color: #141414;
}
table td, table th{
    padding:.25rem;
}
table tr:first-child{
    background-color: #E50914;
    color: #FFF;
}
table tr:nth-child(even){
    background-color: #666;
}

table tr:nth-child(odd):not(:first-child){
    background-color: #999;
}